/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}
a,
h2,
h3 {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

ol,
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
img {
  border: none;
  object-fit: contain;
}
input,
textarea {
  outline: none;
  border: 0;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}
html,
body {
  margin: 0;
  line-height: 1;
}
/*----------------*/
$trnst: 0.5s;
$bgColor: #e7e7e7;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-family: 'Montserrat';
  background-color: $bgColor;
  // animation: chBg 200s infinite alternate linear;
}

// @keyframes chBg {
//   0% {
//     background-color: #dddcf2;
//   }
//   25% {
//     background-color: #ebdff4;
//   }
//   50% {
//     background-color: $bgColor;
//   }
//   100% {
//     background-color: #ebdff4;
//   }
// }
.page-wrapper-full {
  overflow: hidden;
}
a {
  color: #000;
}
img {
  width: 100%;
}
.page-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-top: 0;
  border-bottom: 0;
}

.header {
  display: flex;
  height: 90px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #e7e7e7f5;
}
header.neo {
  border-radius: 0;
}
// .fixed {
//   position: fixed;
//   width: 100%;
//   z-index: 9999;
//   background-color: #e7e7e7;
// }
.header__left {
  margin-left: 40px;
  display: flex;
  a {
    height: 100px;
    display: flex;
  }
}
main {
  margin-top: 120px;
}
.header__logo {
}
.header__right {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__nav {
  margin: 0 auto 23px;
}
.header__ul {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.header__item {
  margin-right: 22px;
  a {
    padding: 8px 22px 10px 22px;
    display: block;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
.neo {
  // background: $bgColor;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.62), 3px 3px 7px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}
.header__right {
  .socials {
    margin-right: 5px;
  }
}
.socials {
  display: flex;
  margin-bottom: 28px;
  align-items: flex-end;
  gap: 14px;
}
.socials__item {
  display: flex;
  width: 30px;
  height: 30px;
  img {
    padding: 1px;
  }
  a {
    border-radius: 50%;
  }
}
.social__telegram {
}
.social__whatsapp {
}
.top-banner {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.top-banner__left {
}
.top-banner-ava {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 445px;
}
.top-banner-ava__pic {
  z-index: -1;
}
.top-banner-ava__desc {
  margin-top: -68px;
  padding: 20px 15px;
  width: 350px;
  border-radius: 15px;
}
.top-banner-ava__name {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #383838;
}
.top-banner-ava__spec {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #383838;
}
.top-banner__middle {
  text-align: center;
  font-weight: 700;
  max-width: 390px;
  text-transform: uppercase;
  span {
    display: block;
  }
  .blue {
    margin-top: 50px;
    margin-left: 25px;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    color: #2f2bb3;
  }
  .gray {
    margin-top: -80px;
    font-size: 330px;
    color: rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: -1;
  }
  .pink {
    font-size: 64px;
    line-height: 78px;
    color: #863abd;
    margin-top: -60px;
    margin-left: -190px;
  }
  .black {
    margin-top: 20px;
    margin-left: 72px;
    font-size: 72px;
    line-height: 88px;
    color: #383838;
  }
  .order_btn {
    margin-top: 50px;
    padding: 26px 36px 24px 36px;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    border-radius: 15px;
    color: #383838;
  }
}

.def_btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: $trnst;
  &::after {
    left: -100%;
    transition: $trnst;
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
  }
  &:hover::after {
    width: 385%;
    height: 420%;
    transform: rotate(45deg);
    background: radial-gradient(100% 80% at 0.7% 3%, rgba(47, 43, 179, 0.5) 0%, rgba(134, 58, 189, 0.5) 100%);
    filter: blur(50px);
    z-index: -1;
  }
  &:hover,
  &:hover input {
    color: #fff;
  }
}

h1 span {
  text-shadow: -3px -3px 7px #ffffffad;
}
.top-banner__right {
}
.dbl-block {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  & > .neo {
    border-radius: 15px;
  }
}

.dbl-block__text {
  position: relative;
  padding: 40px 60px 50px;
  max-width: 847px;
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    margin-top: 15px;
    .blue {
      color: #2f2bb3;
      margin-right: 220px;
    }
    .pink {
      color: #863abd;
      margin-left: 65px;
      margin-right: 120px;
    }
    .blue_2 {
      color: #2f2bb3;
      margin-left: 240px;
    }
  }
  h3 {
    font-weight: 500;
    font-size: 27px;
    line-height: 42px;
    .blue {
      color: #2f2bb3;
      font-weight: 600;
    }
    .pink {
      color: #863abd;
      font-weight: 600;
    }
    .black {
      font-weight: 600;
    }
  }
}

.dbl-block__shadow-text {
  position: absolute;
  left: -15px;
  top: 10px;
  color: rgba(88, 88, 88, 0.15);
  right: inherit;
  font-weight: 900;
  font-size: 150px;
  line-height: 64px;
}
.dbl-block:nth-child(odd) {
  .dbl-block__shadow-text {
    right: -20px;
    left: inherit;
  }
}
.dbl-block__desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  p {
    margin-bottom: 20px;
  }
}
.dbl-block__desc p:last-child {
  margin-bottom: 0;
}
.arrow-1 {
  position: absolute;
  background-image: url(../images/arrow-1.svg);
  background-repeat: no-repeat;
  display: block;
  width: 222px;
  height: 175px;
  right: 260px;
  bottom: -116px;
}
.dbl-block__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 413px;
}
.arrow-2 {
  position: absolute;
  background-image: url(../images/arrow-2.svg);
  background-repeat: no-repeat;
  display: block;
  width: 700px;
  height: 170px;
  left: -321px;
  bottom: -113px;
}
.arrow-3 {
  position: absolute;
  background-image: url(../images/arrow-3.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  display: block;
  width: 358px;
  height: 180px;
  left: 437px;
  bottom: -91px;
}
.feedback-form {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 50px 188px;
  position: relative;
}
.feedback-form__shadow-text {
  position: absolute;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  text-align: right;
  right: -20px;
  top: -25px;
  color: rgba(88, 88, 88, 0.15);
}
.feedback-form__body {
  form {
    margin-top: 55px;
  }
}
.feedback-form__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 55px;
  display: inline-block;
  margin-top: 35px;
}
.feedback-form__item {
  display: flex;
  margin-bottom: 15px;
  textarea {
    font-family: 'Montserrat';
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    background: transparent;
    resize: none;
    overflow: hidden;
    height: 140px;
  }
}
.feedback-form__label {
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  white-space: nowrap;
}
.feedback-form__input {
  background: transparent;
  border-bottom: 1px solid #000;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  margin-left: 20px;
}
.feedback-form__label_textarea {
  display: flex;
  flex-wrap: wrap;
}
.feedback-form__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  justify-content: end;
}
.feedback-form__person-data {
  display: flex;
  align-items: center;
  gap: 25px;
}
.feedback-form__person-data-label {
  input {
    display: none;
  }
}
#person-data:checked + .feedback-form__person-data-check::before {
  content: '✔';
  font-size: 28px;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 35px;
}
.feedback-form__person-data-check {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.feedback-form__person-data-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  a {
    text-decoration: underline;
  }
}
.feedback-form__submit {
  background: transparent;
  padding: 16px 44px 17px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}
.footer {
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 15px;
}
.footer__top {
  display: flex;
  padding: 37px 100px 50px;
}
.footer__nav {
}
.footer__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px 30px;
  width: 325px;
}
.footer__item {
  width: 140px;
  height: 50px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
}
.footer__socials {
  margin-left: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .socials {
    flex-wrap: wrap;
    gap: 24px;
    width: 50px;
    margin-bottom: 0;
    .socials__item {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  max-width: 374px;
  margin-left: 137px;
}
.footer__bottom {
  padding: 30px 0 36px;
  text-align: center;
  border-top: 1px solid #fff;
}
.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
}
.header__nav_mob {
  &.header__right {
    flex-direction: row-reverse;
  }
  .header__ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: -15px;
    top: 90px;
    width: calc(100% + 30px);
    padding: 30px 40px;
    background-color: $bgColor;
    height: 100vh;
    z-index: 999;
    .header__item {
      margin: 0 auto;
      margin-bottom: 17px;
      width: 100%;
      a {
        padding: 0;
        line-height: 50px;
        height: 50px;
        text-align: center;
      }
    }
  }
}

.mob-burger {
  margin: auto 0;
  height: 40px;
  width: 42px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 6px;
  span {
    transition: 0.5s;
    border-bottom: 5px solid #000000;
    border-radius: 10px;
  }
}

.mob-burger_close {
  span {
    transition: 0.5s;
  }
  span:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 2px;
  }
  span:nth-child(2) {
    display: none;
  }
  span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
    left: 2px;
  }
}
.top-banner,
.dbl-block,
footer {
  position: relative;
}
.bright-1,
.bright-2,
.bright-3,
.bright-4,
.bright-5,
.bright-6 {
  position: absolute;
  z-index: -2;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  filter: blur(200px);
}
.bright-1 {
  background-color: #9300ff12;
  bottom: -360px;
  left: -900px;
}
.bright-2 {
  background-color: #2f2bb31f;
  bottom: -600px;
  right: -700px;
}
.bright-3 {
  background-color: #2f2bb31f;
  bottom: -850px;
  left: -700px;
}
.bright-4 {
  background-color: #9300ff12;
  bottom: -350px;
  right: -700px;
}
.bright-5 {
  background-color: #9300ff12;
  bottom: -1800px;
  left: -700px;
}
.bright-6 {
  background-color: #2f2bb31f;
  bottom: -1000px;
  right: -700px;
}

// simple-page
.simple-page {
  padding: 25px 0 50px;
  h1 {
    font-size: 72px;
    font-weight: 800;
    margin: 20px 0 30px;
    color: #383838;
  }
  h2 {
    font-size: 52px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #6a2497;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
  margin-top: 35px;
  .services__item {
    width: 30%;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 22px;
    }
    .services__price {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .services__desc {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    .services__tech {
      font-size: 14px;
      margin-bottom: 40px;
      .services__tech-title {
        display: block;
        margin-bottom: 5px;
      }
    }
    .services__time {
      margin-bottom: 25px;
    }
    .services__order {
      padding: 15px 0;
      width: 100%;
      text-align: center;
      margin: auto 0 30px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .portfolio__item {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 15px;
    .portfolio__title {
      font-size: 50px;
      text-align: center;
      margin-left: 270px;
      // text-shadow: -3px -3px 7px #ffffff, 3px 3px 7px #545454;
      color: #383838;
      margin: 40px 50px 70px auto;
    }
    .portfolio__view {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      img {
        box-shadow: 0px 20px 20px #979797;
        border-radius: 10px;
      }
      .portfolio__img-desk {
        width: 100%;
        height: 540px;
        perspective: 200px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .portfolio__img-desk-title {
          text-align: center;
          font-size: 18px;
          padding: 10px;
        }
        .portfolio__img-desk-preview {
          width: 750px;
          height: fit-content;
          transform: rotateX(0deg) rotateY(7deg);
          transform-style: preserve-3d;
          transition: 0.5s;
          &:hover {
            transform: rotateX(0deg) rotateY(0deg);
          }
        }
      }
      .portfolio__img-mob {
        perspective: 50px;
        height: 340px;
        position: relative;
        right: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        .portfolio__img-mob-title {
          text-align: center;
          font-size: 18px;
          padding: 10px;
        }
        .portfolio__img-mob-preview {
          width: 240px;
          position: relative;
          right: -50px;
          height: fit-content;
          transform: rotateX(0deg) rotateY(-4deg);
          transform-style: preserve-3d;
          transition: 0.5s;
          &:hover {
            transform: rotateX(0deg) rotateY(0deg);
          }
        }
      }
    }
    .portfolio__desc {
      margin-top: 115px;
      padding: 5px 10px;
      font-size: 18px;
      line-height: 25px;
    }
    .portfolio__tech {
      padding: 5px 10px;
      font-size: 16px;
      line-height: 23px;
    }
    .portfolio__link {
      padding: 5px 10px;
      font-size: 18px;
      line-height: 25px;
    }
    .portfolio__time {
      font-size: 18px;
      line-height: 25px;
      padding: 5px 10px 50px;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    .contact__item {
      padding: 20px 30px;
      font-size: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .contact__item-pic {
        margin-right: 30px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .contact__item-title {
        font-weight: 600;
        margin-right: 10px;
      }
      .contact__item-body {
        font-weight: 400;
      }
    }
  }
  .contact-map {
    width: 70%;
    height: 292px;
    overflow: hidden;
  }
}
